<div>
  <div class="container">
    <div class="row buffer">
      <div class="col-sm">
        <app-cat-card
          [name]="name_Eli"
          [birthday]="EliBirthday.toDateString()"
          [age]="EliAge"
          [main_card_image]="EliImage"
          [avatar]="EliAvatar"
          [timeUntilBirthday]="EliTimeUntil"
        ></app-cat-card>
      </div>
      <div class="col-sm">
        <app-cat-card
          [name]="name_Umbra"
          [birthday]="UmbraBirthday.toDateString()"
          [age]="UmbraAge"
          [main_card_image]="UmbraImage"
          [avatar]="UmbraAvatar"
          [timeUntilBirthday]="UmbraTimeUntil"
        ></app-cat-card>
      </div>
      <div class="col-sm">
        <app-cat-card
          [name]="name_Bucket"
          [birthday]="BucketBirthday.toDateString()"
          [age]="BucketAge"
          [main_card_image]="BucketImage"
          [avatar]="BucketAvatar"
          [timeUntilBirthday]="BucketTimeUntil"
        ></app-cat-card>
      </div>
    </div>
    <div class="row buffer">
      <div class="col-sm">
        <app-cat-card
          [name]="name_Bitty"
          [birthday]="BittyBirthday.toDateString()"
          [age]="BittyAge"
          [main_card_image]="BittyImage"
          [avatar]="BittyAvatar"
          [timeUntilBirthday]="BittyTimeUntil"
        ></app-cat-card>
      </div>
      <div class="col-sm">
        <app-cat-card
          [name]="name_Wilson"
          [birthday]="WilsonBirthday.toDateString()"
          [age]="WilsonAge"
          [main_card_image]="WilsonImage"
          [avatar]="WilsonAvatar"
          [timeUntilBirthday]="WilsonTimeUntil"
        ></app-cat-card>
      </div>
      <div class="col-sm">
        <app-cat-card
          [name]="name_Pixie"
          [birthday]="PixieBirthday.toDateString()"
          [age]="PixieAge"
          [main_card_image]="PixieImage"
          [avatar]="PixieAvatar"
          [timeUntilBirthday]="PixieTimeUntil"
        ></app-cat-card>
      </div>
    </div>
    <div class="row buffer">
      <div class="col-sm">
        <app-cat-card
          [name]="name_MilkyMoo"
          [birthday]="MilkyMooBirthday.toDateString()"
          [age]="MilkyMooAge"
          [main_card_image]="MilkyMooImage"
          [avatar]="MilkyMooAvatar"
          [timeUntilBirthday]="MilkyMooTimeUntil"
        ></app-cat-card>
      </div>
      <div class="col-sm">
        <app-cat-card
          [name]="name_Bones"
          [birthday]="BonesBirthday.toDateString()"
          [age]="BonesAge"
          [main_card_image]="BonesImage"
          [avatar]="BonesAvatar"
          [timeUntilBirthday]="BonesTimeUntil"
        ></app-cat-card>
      </div>
    </div>
  </div>
</div>
