<!-- Centering of the content with decent margins-->
<div fxLayoutAlign="center" fxLayout="row" fxLayout.lt-lg="column">

    <div fxLayout='column' fxFlex="80%">
        <div fxLayout="row" fxLayout.lt-lg="column">
            <div fxFlex="50%" fxLayoutAlign="center">
                
                <button mat-button color="primary">
                    <a href="https://www.instagram.com/ihaz10cats/">
                        Instagram
                    </a>
                </button>
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-lg="column">
            <div fxFlex="50%" fxLayoutAlign="center">
                <app-catcard
                    [catName]="eliName"
                    [catNickname]="eliNickname"
                    [catDescription]="eliDescription"
                    [catBirthdate]="eliBirthdate"
                    [cardImageSrc]="eliImageSrc"
                    [cardImageAlt]="eliImageAlt"
                ></app-catcard> <!-- Eli -->
            </div>
            <div fxFlex="50%" fxLayoutAlign="center">
                <app-catcard
                    [catName]="umbraName"
                    [catNickname]="umbraNickname"
                    [catDescription]="umbraDescription"
                    [catBirthdate]="umbraBirthdate"
                    [cardImageSrc]="umbraImageSrc"
                    [cardImageAlt]="umbraImageAlt"
                ></app-catcard> <!-- Umbra -->
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-lg="column">
            <div fxFlex="50%" fxLayoutAlign="center">
                <app-catcard
                    [catName]="bittyName"
                    [catNickname]="bittyNickname"
                    [catDescription]="bittyDescription"
                    [catBirthdate]="bittyBirthdate"
                    [cardImageSrc]="bittyImageSrc"
                    [cardImageAlt]="bittyImageAlt"
                ></app-catcard> <!-- Bitty -->
            </div>
            <div fxFlex="50%" fxLayoutAlign="center">
                <app-catcard
                    [catName]="bucketName"
                    [catNickname]="bucketNickname"
                    [catDescription]="bucketDescription"
                    [catBirthdate]="bucketBirthdate"
                    [cardImageSrc]="bucketImageSrc"
                    [cardImageAlt]="bucketImageAlt"
                ></app-catcard> <!-- Bucket -->
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-lg="column">
            <div fxFlex="50%" fxLayoutAlign="center">
                <app-catcard
                    [catName]="wilsonName"
                    [catNickname]="wilsonNickname"
                    [catDescription]="wilsonDescription"
                    [catBirthdate]="wilsonBirthdate"
                    [cardImageSrc]="wilsonImageSrc"
                    [cardImageAlt]="wilsonImageAlt"
                ></app-catcard> <!-- Wilson -->
            </div>
            <div fxFlex="50%" fxLayoutAlign="center">
                <app-catcard
                    [catName]="pixieName"
                    [catNickname]="pixieNickname"
                    [catDescription]="pixieDescription"
                    [catBirthdate]="pixieBirthdate"
                    [cardImageSrc]="pixieImageSrc"
                    [cardImageAlt]="pixieImageAlt"
                ></app-catcard> <!-- Pixie -->
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-lg="column">
            <div fxFlex="50%" fxLayoutAlign="center">
                <app-catcard
                    [catName]="milkName"
                    [catNickname]="milkNickname"
                    [catDescription]="milkDescription"
                    [catBirthdate]="milkBirthdate"
                    [cardImageSrc]="milkImageSrc"
                    [cardImageAlt]="milkImageAlt"
                ></app-catcard> <!-- Milk -->
            </div>
            <div fxFlex="50%" fxLayoutAlign="center">
                <app-catcard
                    [catName]="bonesName"
                    [catNickname]="bonesNickname"
                    [catDescription]="bonesDescription"
                    [catBirthdate]="bonesBirthdate"
                    [cardImageSrc]="bonesImageSrc"
                    [cardImageAlt]="bonesImageAlt"
                ></app-catcard> <!-- Bones -->
            </div>
        </div>
        <div fxLayout="row" fxLayout.lt-lg="column">
            <div fxFlex="50%" fxLayoutAlign="center">
                <app-catcard
                    [catName]="wobblesName"
                    [catNickname]="wobblesNickname"
                    [catDescription]="wobblesDescription"
                    [catBirthdate]="wobblesBirthdate"
                    [cardImageSrc]="wobblesImageSrc"
                    [cardImageAlt]="wobblesImageAlt"
                ></app-catcard> <!-- Wobbles -->
            </div>
            <div fxFlex="50%" fxLayoutAlign="center">
              <app-catcard
                [catName]="pancakeName"
                [catNickname]="pancakeNickname"
                [catDescription]="pancakeDescription"
                [catBirthdate]="pancakeBirthdate"
                [cardImageSrc]="pancakeImageSrc"
                [cardImageAlt]="pancakeImageAlt"
              ></app-catcard> <!-- Wobbles -->
            </div>
        </div>
    </div>

</div>
