<div fxLayoutAlign="center">
    <div fxFlex="80%" fxFlex.lt-lg="70%" class="margined">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{ catName }}</mat-card-title>
                <mat-card-subtitle>{{ catNickname }} - N years old</mat-card-subtitle>
                <mat-card-subtitle>{{ catBirthday }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    {{ catDescription }}
                    TEMPORARY: The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>